block header
  nav
    .nav-wrapper.teal
      a.brand-logo.center(href='/') Udaan Hackathon
      ul.right.hide-on-med-and-down
        li
          a(href='/users/login') Login
        li
          a(href='/users/signup') SignUp